.box
  width: 2.5em
  height: 2.5em
  margin: 0.1em

.selected
  background-color: green

.container
  // background-color: lightgray

.inputs
  margin-top: 7vh

.gameId
  padding: 1em

.tableContainer
  margin-top: 4em
  margin-bottom: 2em

th
  padding: 1em

td
  text-align: center
